.reservation-wrapper {

  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #EEE;
  background-color: #FAFAFA;
  font-size: 2.3em;

  .date {

    color: #777;
  }

  .circle-wrap {

    padding-left: 2.2em;
    padding-top: 1.1em;

    .circle {

      width: 25px;
      height: 25px;
      border-radius: 50%;
    }
  }

  &.pending {
    .circle-wrap {
      .circle {

        background-color: $color-primary;
      }
    }
  }

  &.redeemed {
    .circle-wrap {
      .circle {

        background-color: $color-second;
      }
    }
  }

  .button-wrap {

    margin-top: 0.7em;

    a.cr-redeem {
      background-color: #F7F7F7;
      border: 1px solid #DDD;
      padding: 7px 12px;
      color: #333;
    }
  }
}
