.reservation-tabs-wrapper {

  .row {

    .columns {

      text-align: center;
      padding: 10px;
      color: #FAFAFA;
      text-shadow: 1px 1px rgba(0,0,0,0.1);
      text-transform: uppercase;
      font-size: 2.3em;
      font-weight: bold;

      &:hover {

        cursor: pointer;
        opacity: 0.9;
      }

      &.pending {
        background-color: $color-primary;
      }

      &.redeemed {

        background-color: $color-second;
      }

      &.all {

        background-color: $color-third;
      }
    }
  }
}
